[submodule "lib/uri-library"]
	path = lib/uri-library
	url = https://github.com/ben-zen/uri-library
[submodule "lib/md5"]
	path = lib/md5
	url = https://github.com/calebstewart/md5
[submodule "lib/json-maker"]
	path = lib/json-maker
	url = https://github.com/rafagafe/json-maker
[submodule "lib/tiny-json"]
	path = lib/tiny-json
	url = https://github.com/rafagafe/tiny-json
[submodule "lib/coreHTTP"]
	path = lib/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "blu/pico_fota_bootloader"]
	path = blu/pico_fota_bootloader
	url = https://github.com/JZimnol/pico_fota_bootloader
